/* common */

html{
  height: 100%;
}
body{
  height: 100%;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
}
img{
  height: 120px;
  border-radius: 4px;
  transition: all .3s;
}

/* header */

header{
  width: 100%;
  height: 40px;
  background-color: #bbb;
  position: relative;
}
header h1{
  font-size: 24px;
  line-height: 40px;
  color: #fff;
}
header a{
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 24px;
  color: #fff;
  transition: all .3s;
}
header a:hover{
  color: black;
  transform: rotate(1turn);
}

/* main */

main{
  min-height: calc(100% - 80px);
  margin: 0 6%;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main > h1{
  padding: 24px;
}
main ul{
  margin: 0 auto;
}
.work_list{
  display: flex;
  text-align: left;
}
main ul li + li{
  margin-top: 30px;
}
main ul li:nth-child(even){
  flex-direction: row-reverse;
  text-align: right;
}
main ul li a{
  opacity: .9;
  transition: all .3s;
}
main ul li:nth-child(odd) a:hover{
  opacity: 1;
  transform: scale(1.4) translateX(50px);
}
main ul li:nth-child(even) a:hover{
  opacity: 1;
  transform: scale(1.4) translateX(-50px);
}
main ul li a{
  margin: auto 0;
}
.explanation{
  max-width: 500px;
  margin: 8px;
}
.explanation h2{
  margin: 4px 0;
  font-size: 20px;
}
.explanation p{
  text-align: left;
  font-size: 14px;
}

/* footer */

footer{
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #bbb;
  color: #fff;
  font-size: 24px;
}